LANGCHAIN_API_KEY=
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com 
LANGCHAIN_PROJECT=demo
LANGCHAIN_TRACING_V2=true

GOOGLE_API_KEY=
OPENAI_API_KEY=
ANTHROPIC_API_KEY=
NVIDIA_API_KEY=
NVIDIA_API_BASE=https://integrate.api.nvidia.com/v1
NVIDIA_DEFAULT_MODEL=deepseek-ai/deepseek-r1

API_HOST=0.0.0.0
API_PORT=8000


DEFAULT_MODEL=gemini-2.0-pro-exp-02-05
MCP_CONFIG_PATH="../config/mcp_config.json"
USE_MCP=true

# Database configuration
DATABASE_URL=postgresql://user:password@localhost:5432/mcp_repo